.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  margin-top: 38px;
  background-image: url('backgr.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--accent-yellow);
}