.popup {
  width: 500px;
  max-width: 100vw;
  min-height: 500px;
  max-height: 100dvh;
  padding: 20px;
  background: var(--accent-purple);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: auto;

  &__title {
    color: var(--text-color);
    text-align: center;
    font-size: 38px;
  }

  &__img {
    width: auto;
    height: 300px;
  }

  &__loader {
    color: var(--accent-yellow);
    font-size: 18px;
    width: 100%;
    height: 300px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}