.btn {
  padding: 6px 17px;
  background-color: var(--accent-yellow);
  color: var(--accent-purple);
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}