.wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

.element {
  display: flex;
  width: 210px;
  height: 150px;
  padding-top: 50px;
  background-image: url('cloud.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color-dark);

  &:hover {
    cursor: pointer;
    background-image: url('cloud_hover.svg');
    color: var(--text-color);
  }
}
