.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

.element {
  display: flex;
  width: 240px;
  height: 160px;
  padding: 20px 20px 10px;
  background-image: url('cloud.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color-dark);
  flex-direction: column;
  gap: 10px;

  &:hover {
    cursor: pointer;
    background-image: url('cloud_hover.svg');
    color: var(--text-color);
  }
}